<p>{{ trans.submenu }}</p>
<ul>
    <li><a class="pg-link" href="/explore">{{ trans.mainmenu.explore }}</a></li>
    <li><a class="pg-link" href="/explore/1">{{ trans.mainmenu.explore }} 1</a></li>
    <li><a class="pg-link" href="/explore/2">{{ trans.mainmenu.explore }} 2</a></li>
    <li><a class="pg-link" href="/explore/3">{{ trans.mainmenu.explore }} 3</a></li>
</ul>